<div class="bg-light">
<h1 class="text-center mt-5">WEB APP <br> FOR MOOD-TRACKING</h1>
<p class="text-center mt-3 fs-5 mb-5">Analyse your mood on graphs and calendars; get support and advice from the MoodPanda community</p>

<div id="carouselExampleDark" class="carousel carousel-dark slide mx-auto d-block testimonals-col">
    <ol class="carousel-indicators">
     <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
     <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></li>
     <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></li>
     <li data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></li>
     <li data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></li>
     <li data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></li>
     <li data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></li>
    </ol>
    <div class="carousel-inner">
      <!--corousel item1-->
      <div class="carousel-item active text-center">
        <p id="linespace" class="text-primary text-center mx-auto d-block">__________________________________<br>__________________________________</p>
        <h3 class="pt-1">"WONDERFUL"</h3>
        <p id="linespace" class="text-primary text-center mx-auto">__________________________________<br>__________________________________</p>
        <p class="fs-5 mt-4">"I have been using this app for over a year now and it is very helpful for <br> keeping track of my mood. The MoodPanda community is very supportive <br> and I have made lots of new friends from it!"</p>
        <div class="parent">
            <div class="child pt-2">
                <i class="fas fa-user fa-5x"></i>
            </div>
            <div class="child pt-3 ps-1">
                <p class="fw-bold review">TASHAS123</p>
                    <span>itunes review</span> <br>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
            </div>
        </div>
      </div>
      <!--corousel item 2-->
      <div class="carousel-item text-center">
        <p id="linespace" class="text-primary text-center mx-auto d-block">__________________________________<br>__________________________________</p>
        <h3 class="pt-1">"BLOODY BRILLIANT"</h3>
        <p id="linespace" class="text-primary text-center mx-auto">__________________________________<br>__________________________________</p>
        <p class="fs-5 mt-4">"This app is fantastic for someone who isn't just looking to track <br> their moods.It comes with a fantastic community of people who are <br> understanding, friendly and offer great advice. I've made so many friends <br> through it and could not be more grateful! Highly recommended!"
        </p>
        <div class="parent">
            <div class="child pt-2">
                <i class="fas fa-user fa-5x"></i>
            </div>
            <div class="child pt-3 ps-1">
                <p class="fw-bold review">ALICEXTAY</p>
                    <span>itunes review</span> <br>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
            </div>
        </div>
      </div>
      <!--corousel item 3-->
      <div class="carousel-item text-center">
        <p id="linespace" class="text-primary text-center mx-auto d-block">__________________________________<br>__________________________________</p>
        <h3 class="pt-1">"MOODPANDA HAS HELPED ME THROUGH REALLY <br> TOUGH TIMES."</h3>
        <p id="linespace" class="text-primary text-center mx-auto">__________________________________<br>__________________________________</p>
        <div class="parent mt-5">
            <div class="child pt-2">
                <i class="fas fa-user fa-5x"></i>
            </div>
            <div class="child pt-3 ps-1">
                <p class="fw-bold review">EMILY</p>
                    <span>MoodPanda user</span>
            </div>
        </div>
      </div>
      <!--corousel item 4-->
      <div class="carousel-item text-center">
        <p id="linespace" class="text-primary text-center mx-auto d-block">__________________________________<br>__________________________________</p>
        <h3 class="pt-1">"YOU'VE HELP CHANGED MY LIFE FOR THE BETTER!"
          </h3>
        <p id="linespace" class="text-primary text-center mx-auto">__________________________________<br>__________________________________</p>
        <p class="fs-5 mt-4">"I really would be lost with out it! You've help changed my life for the better!"
          </p>
        <div class="parent mt-5">
            <div class="child pt-2">
                <i class="fas fa-user fa-5x"></i>
            </div>
            <div class="child pt-3 ps-1">
                <p class="fw-bold review">SERENA</p>
                    <span>MoodPanda user</span>
            </div>
        </div>
      </div>
      <!--corousel item 5-->
      <div class="carousel-item text-center">
        <p id="linespace" class="text-primary text-center mx-auto d-block">__________________________________<br>__________________________________</p>
        <h3 class="pt-1">"WONDERFUL APP THAT HAS HELPED ME"</h3>
        <p id="linespace" class="text-primary text-center mx-auto">__________________________________<br>__________________________________</p>
        <p class="fs-5 mt-4">"MoodPanda is a wonderful app that has helped me and has given me support when I have <br> needed it."</p>
        <div class="parent mt-5">
            <div class="child pt-2">
                <i class="fas fa-user fa-5x"></i>
            </div>
            <div class="child pt-3 ps-1">
                <p class="fw-bold review text-center">CHLOE</p>
                    <span>MoodPanda user</span>
            </div>
        </div>
      </div>
      <!--corousel item 6-->
      <div class="carousel-item text-center">
        <p id="linespace" class="text-primary text-center mx-auto d-block">__________________________________<br>__________________________________</p>
        <h3 class="pt-1">"HELPED MAKE A VERY SAD TIME FOR ME EASIER TO DEAL WITH"</h3>
        <p id="linespace" class="text-primary text-center mx-auto">__________________________________<br>__________________________________</p>
        <p class="fs-5 mt-4">"You guys are doing something really great here. It really helped make a very sad time for me <br> easier to deal with"</p>
        <div class="parent mt-5">
            <div class="child pt-2">
                <i class="fas fa-user fa-5x"></i>
            </div>
            <div class="child pt-3 ps-1">
                <p class="fw-bold review text-center">RUX</p>
                    <span>MoodPanda user</span>
            </div>
        </div>
      </div>
      <!--corousel item 7-->
      <div class="carousel-item text-center">
        <p id="linespace" class="text-primary text-center mx-auto d-block">__________________________________<br>__________________________________</p>
        <h3 class="pt-1">"LIFE SAVER"</h3>
        <p id="linespace" class="text-primary text-center mx-auto">__________________________________<br>__________________________________</p>
        <p class="fs-5 mt-4">"Your site is not only a life saver, it is also a real example of innovation based on human understanding and caring."</p>
        <div class="parent mt-5">
            <div class="child pt-2">
                <i class="fas fa-user fa-5x"></i>
            </div>
            <div class="child pt-3 ps-1">
                <p class="fw-bold review text-center">PAUL</p>
                    <span>MoodPanda user</span>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
    </button>
  </div>
</div>