.card-header{
    font-family: 'Domine', serif;
    font-size:30px; 
}
.label{
    font-size: 1em;
    margin: auto;
}
.card-body .input{
    width: 50%;
}
.status{
    background-color:rgba(220, 220, 220, 0.87) ;
}
.status h2{
    font-family: 'Otomanopee One', sans-serif;
    color:azure;
}
.status p{
    font-size: 1.3em;
    color: rgb(53, 49, 49);
    /*background-color: rgba(220, 220, 220, 0.87);*/
}