<div class="mt-5 pt-5 mb-5 parent d-flex text-center">
    <div class="child h-100">
        <i class="fas fa-edit fa-3x mb-2"></i>
        <h3>EASY TO UPDATE</h3>
        <p>Simple happiness rating - update your mood as often as you wish and add a note giving a reason</p>
    </div>
    <div class="child h-100">
        <i class="fas fa-heart fa-3x mb-2"></i>
        <h3>LOVING COMMUNITY</h3>
        <p>Our community of 100k+ lovely people gets constant praise for its supportive environment. Share your problems, advice and make friends</p>
    </div>
    <div class="child h-100">
        <i class="far fa-eye fa-3x mb-2"></i>
        <h3>PRIVACY OPTION</h3>
        <p>Optional privacy controls if you want your mood diary kept private away from the support community</p>
    </div>
    <div class="child h-100">
        <i class="fas fa-mobile-alt fa-3x mb-2"></i>
        <h3>APPS AND WEBSITE</h3>
        <p>You can use MoodPanda from your mobile devices and the web app - simply login using the device and use MoodPanda anywhere</p>
    </div>
</div>
<div class="text-center pt-5 pb-5 mb-5">
    <h2>AS SEEN ON:</h2>
    <p class="fs-5">BBC, Buzzfeed, Wall Street Journal, Womens Health Mag, MIND, New Scientist, Channel 4[uk], The Guardian, Dr Oz, QuantifiedSelf.com, Lifehacker, BusinessInsider, Huffington Post, NPR, NBC, NBC Today, LA Times</p>
</div>
<a class="btn text-white d-block text-center fs-4 pt-5" id="registernow" [routerLink]="['/register']">REGISTER NOW</a>