<div class="main">
<nav class="hk1 navbar navbar-expand-lg shadow " style="width:100%;background-color:(24,24,24);font-weight: 600;">
  <div class="container-fluid mx-2" >
       <div>
   <!--<img src="../assets/logo.png" width="55px"> -->  
      <a class="navbar-brand text-light mr-5" href="#" style="font-family: 'Atma', cursive;font-weight: 1000!important;">   MOOD BOOSTER</a>
      </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navdark" id="navbarSupportedContent" style="margin-left: 1rem; margin-right: 0rem; justify-content:start">
      <ul class="navbar-nav ms-auto  mb-lg-0 m-0 my-sm-0 mt-3 md-2">
          <!--Home -->
        <li class="nav-item ">
          <a class="nav-link" aria-current="page" routerLink="login" routerLinkActive="active" >Login</a>
        </li>
            <!--overview-->
            <li class="nav-item ">
              <a class="nav-link" href="#overview">overview</a>
            </li>
        <!--testimonals-->
        <li class="nav-item ">
          <a class="nav-link" href="#test">Testimonials</a>
        </li>
        <!--contact us-->
        <li class="nav-item ">
          <a class="nav-link" aria-current="page" routerLink="contactus" routerLinkActive="active" >Contact us</a>
        </li>
        <!--analysis-->
        <li class="nav-item ">
          <a class="nav-link" aria-current="page" routerLink="analysis" routerLinkActive="active" >Analysis</a>
        </li>
        <!--adddoctors-->
        <li class="nav-item ">
          <a class="nav-link" aria-current="page" routerLink="/admin/adddoctors" routerLinkActive="active" >add doctors</a>
        </li>
        <!--Admin-->
        <li class="nav-item ">
          <a class="nav-link" aria-current="page" routerLink="admin" routerLinkActive="active" >Admin</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>