.navbar .nav-item .nav-link{
    color: antiquewhite;
    font-size: 1.4em;
    padding-inline: 12px;
}
.main{
  position: relative;
}

.navbar{
  position: fixed;
  background-color: 	#6b3e26a1;
}
.hk1{
  background-image:url("https://res.cloudinary.com/jerrick/image/upload/v1604022067/5f9b6f336982e7001d3272d2.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-blend-mode:overlay;
  background-color: rgba(26, 26, 24, 0.312);
}
