.navbar .nav-item .nav-link{
    color: rgb(252, 249, 245);
    font-size: 1.4em;
    font-weight: 500;
    padding-inline: 10px;
    font-family: 'Acme', sans-serif;
    margin-inline: px;
}
/*.main{
  position: relative;
}  */
.navbar{
  background-color: 	#6b3e26a1;
}
.hk1{
  background-image:url("https://res.cloudinary.com/jerrick/image/upload/v1604022067/5f9b6f336982e7001d3272d2.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-blend-mode:overlay;
  background-color: rgba(26, 26, 24, 0.312);
}
.hk1::before{
  background-color: rgba(70, 68, 68, 0.25);
}
.navbar .nav-item .nav-link:focus{
  background-color: 	#c2f2d0;
  color:#98002e;
  border-radius: 10px;
  
}
.navbar .nav-item .nav-link:hover{
  background-color: rgba(0, 0, 0, 0.377);;
  color:white;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-right:2px;
  margin-left:2px;
}

