#col2{
    background-image: linear-gradient(rgb(146, 146, 245),pink);
    width:50%;
}
.bg
{
    background-image: url(D:\MoodBooster\src\assets\Scattered-Forcefields.svg);
    background-size: cover;
    background-position: center;
    height: 800px;
    background-color: rgba(255,255,255,0.5);
}
.card
{
    background-image: url(D:\MoodBooster\src\assets\Scattered-Forcefields.svg);
}
.row
{
    background-image: linear-gradient(pink,rgb(146, 146, 245));
}