
<div class="container viewcard">
    <div class="col-lg-12 p-3  mx-lg-auto mx-auto d-block mt-5 ">
      <div class="ml-3 row mb-3" *ngIf="App.acheck">
        <h2>LISTS  OF  ARTICLES
            <span style="float: right;">
              <div class=" col btn btn-info d-block mx-auto text-white mb-2" style="border-radius: 10px;font-weight:600;width:180px;">
                  <a class="text-white"  data-bs-target="#mdl" data-bs-toggle="modal" style="text-decoration: none;font-size: 1.1em;font-weight: 700;">Add Articles</a>
              </div>
            </span>
        </h2>
      </div>
 
    <div class="row row-cols-3 mx-auto g-5" >
       <div class="col" *ngFor="let card of cards;let in=index">
        <div class="card shadow" style="border-radius: 30px;position: relative;">
          <a  class="stretched-link" href="{{card['link']}}" (click)="gotothatpage(card['link'])"></a>
          <img class="card-img-top p-3 pb-1" style="border-radius: 40px;"src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h3>{{card['articlename']}}</h3>
            <div style="position: relative;">
            <span class="text-muted">{{card['author']}}</span>
            <div class="p-0" style="position: relative;float: right;" *ngIf="App.acheck">
              <a class="blink btn btn-danger mr-4 mb-1 stretched-link" aria-expanded="false"
                (click)="ondelete(in)"><i class="fas fa-plus-square"></i> DELETE</a>
            </div>
          </div>
          </div>
        </div>
       </div>
    </div>
    
     

</div>
</div>