 
  .flip-card {
  margin-top: 20px;
  
  background-color: transparent;
  border: 1px solid #f3eeee;
  /* perspective: 1000px; */
  
  }  
  .card{
    background-color: rgba(235, 226, 226, 0.700);
  }
  .row{
    background-color:rgba(0, 0, 0, 0.007) ;
  }
.container{
  background-image: url('../../assets/Add_notes.svg');
  background-repeat: no-repeat;
  background-attachment:local;
  background-size:cover;
 background-blend-mode:overlay;
  background-color: rgba(253, 253, 250, 0.616);
  /*background-color: rgba(250, 245, 245, 0.1);*/
  height: max-content;
  padding-top: 20px;
  padding-bottom: 100px;
}
  .image{
    width: 200px!important;
  }

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(210, 255, 244);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}
.viewcards-col{
  background-image: url("/../assets/Online_article.svg");
  background-repeat: no-repeat;
  background-attachment:local;
  background-size:cover;
  background-blend-mode:overlay;
/*  background-color: rgba(26, 26, 24, 0.39);*/
  background-color: rgba(250, 245, 245, 0.89);
  height: max-content;
  padding-top: 20px;
  padding-bottom: 100px;
}